* {
    box-sizing: border-box;
}

/*sets font-size for easy rem calculation */
html {
    font-size: 62.5%;
}


/* define root colors for easy application */
:root {
    --background-color-1: rgb(63, 62, 65);
    --background-color-2: #ffffff;
    --color-3: crimson;
    --color-4: rgb(144, 132, 209);
    --color-5: rgb(80, 76, 97);
}

/*defines the basic background and hides
the horizontal scroll*/
body {
    background-color: var(--background-color-1);
    color: var(--background-color-2);
    margin: 0;
    overflow-x: hidden;
    font-family: 'Poppins', sans-serif;
}


/*fixed header that remains at the top of the viewport*/
header {
    width: 100%;
    height: 14.5vh;
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    background-color: var(--background-color-2);
}


/* navigation bar at the top right corner*/
.navbar {
    width: 30%;
    height: 100%;
    float: right;
    position: absolute;
    top: 0;
    left: 70%;
    text-transform: capitalize;
    font-size: 18px;
    font-family: "Verdana";
}

.navbar ul {
    width: 100%;
    height: 60%;
    overflow: hidden;
    list-style-type: none;
    text-align: center;
    display: flex;
    justify-content: center;
    position: relative;
    top: 20px;
    left: 0;
}

.navbar ul > li {
    height: 100%;
    width: 30%;
}

.navbar ul > li > a {
    text-decoration: none;
    color: var(--color-4);
    position: relative;
    top: 10px;
    left: 0;
}

.navbar ul > li:hover {
    background: var(--color-3);
}

/* logo to the top left of the header */
img {
    width: auto;
    height: auto;
    float: left;
}

/* welcome section with height=100vh */
.welcome-section {
    height: 100vh;
    width: 100vw;
    padding-top: 150px;
    background: repeating-linear-gradient(90deg, var(--color-3), var(--color-4), var(--color-3));
    text-align: center;
}

h1 {
    font-family: 'Raleway', sans-serif;
    font-style: bold;
    font-weight: 700px;
    font-size: 6rem;
    text-align: center;
    padding-top: 50px;
    color: #dfdad6;
}

p {
    font-family: 'Poppins', sans-serif;
    font-weight: 200px;
    font-size: 2rem;
    text-align: center;
}

.welcome-section p {
    color: var(--color-3);
    position: relative;
    top: -50px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: italic;
    font-weight: 400px;
    font-size: 4rem;
    text-align: center;
}

/* projects section showcasing various 
projects and a link to view them*/

.projects {
    width: 100vw;
    height: auto;
    background-color: var(--color-5);
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.projects h2 {
    font-family: 'Raleway', sans-serif;
    font-weight: 500px;
    font-size: 4rem;
    text-align: center;
    text-decoration: underline 2px solid;
    text-underline-offset: 12px;
    padding-top: 15px;
    grid-column: 1 / 3;
}

.projects > .project-tile > img {
    width: 600px;
    height: 350px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.projects > .project-tile > figcaption > a {
    padding: 10px;
    font-size: 18px;
    background-color: var(--background-color-1);
    color: #ffffff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: none;
}

.all-projects {
    width: 100%;
    height: 150px;
    background-color: var(--color-5);
    padding-top: 45px;
}

.show-more {
    width: 40%;
    height: 50px;
    padding: 10px;
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    position: relative;
    top: 0;
    left: 45%;
    color: var(--background-color-2);
    background-color: var(--background-color-1);
    text-decoration: none;
}

.show-more:hover {
    background-color: var(--background-color-2);
    color: var(--background-color-1);
}

.final-section {
    width: 100%;
    height: auto;
    background-color: var(--background-color-1);
    padding-bottom: -40px;
}

.final-section > h1 {
    color: var(--background-color-2);
    font-family: "Raleway", "Helvetica", "Sans-serif";
}

.final-section > p {
    font-size: 3rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 200;
    font-style: italic;
    position: relative;
    top: -52px;
    left: 0;
}

/* various social links. Links to my github portfolio */
.socials {
    display: flex;
    width: 100%;
    height: 180px;
    justify-content: center;
    padding-bottom: 50px;
}


/* uses transition to move element 
    downward on hover */
.social-link {
    width: 10%;
    height: 40px;
    border-radius: 2px;
    text-shadow: 2px 2px 1px #1f1f1f;
    transition: transform 0.3s ease-out;
}

.social-link:hover {
    transform: translateY(8px);
}

.socials > div > a {
    text-decoration: none;
    color: var(--background-color-2);
    font-size: 22px;
    height: 40px;
    padding: 2px 2px 2px 10px;
}

.socials > div > span {
    font-size: 22px;
    padding-top: 3px;
    height: 40px;
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    display: block;
}

footer {
    width: 100%;
    height: 100px;
    border-top: 2px solid crimson;
    clear: both;
    justify-content: center;
}

footer > .right {
    float: right;
    padding-right: 20px;
    padding-top: 40px;
}

footer > .left {
    float: left;
    padding-top: 40px;
    padding-left: 20px;
}

footer > div > p {
    font-size: 16px;
}

/* various media query for a responsive page */
@media only screen and (max-width: 768px) {

    html {
        font-size: 32.5%;
    }

    .navbar {
        right: 0;
        font-size: 12px;
        width: 45%;
        padding-right: 10px;
    }

    .navbar ul {
        flex-direction: column;
        justify-content: space-evenly;
        height: 100%;
        top: -5px;
    }

    .navbar ul > li > a {
        top: -2px;
    }

    .welcome-section p {
        padding-top: 20px;
    }

    .projects {
        width: 100vw;
        height: auto;
        display: grid;
        grid-template-columns: 100%;
    }

    .projects h2 {
        grid-column: 1 / 2;
    }

    .projects > .project-tile > img {
        width: 80vw;
        height: 350px;
    }

    .final-section > p {
        top: -25px;
    }

    .socials {
        justify-content: space-evenly;
    }

    .socials > div > span {
        font-size: 16px;
    }
}